/* your custom css */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@531&display=swap');

@-ms-viewport {
  width: device-width;
}

@font-face {
  font-family: 'Spartan', sans-serif;
  font-display: auto;
  src: local('Spartan'), url('https://fonts.googleapis.com/css2?family=Spartan:wght@531&display=swap');
}

body {
  font-family: 'Spartan', sans-serif;
  color: black;
}

h1 {
  font-family: 'Spartan', sans-serif;
  letter-spacing: 5px;
}

div.blockImage {
  height: 90px;
  width: 90px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

div {
  display: block;
  color: rgb(0, 3, 5);
}

a {
  text-decoration: none;
  color: rgb(0, 3, 5);
}

img {
  vertical-align: middle;
  border-style: none;
}

a.docs-prev.button:hover,
a.docs-next.button:hover {
  color: #95a5a6;
}

.navListItem a.navItem:hover {
  color: #2c3e50;
}

.fixedHeaderContainer {
  background-color: #000b22;
  color: #ecf0f1;
  padding: 10px 15px;
}

.fixedHeaderContainer header img {
  height: 45px;
  margin-right: 10px;
}

.nav-footer .sitemap a {
  color: #95a5a6;
}

.logos a {
  padding: 2rem;
  color: rgb(0, 3, 5);
}

.xyoContainer a {
  color: black;
}

.xyoContainer a:hover {
  color: #95a5a6;
}

.navigationSlider .slidingNav ul li a {
  color: #ecf0f1;
}

.nav-footer .sitemap a:hover {
  color: #2c3e50;
}

.navigationSlider .slidingNav ul li.siteNavItemActive a {
  color: #ecf0f1;
}

.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  color: #ecf0f1;
}

@media only screen and (max-width: 1023px) {
  .navigationSlider .slidingNav ul li a {
    color: #ecf0f1;
    background-color: #000b22;
  }

  #docsNav.docsNavContainer {
    padding: 5px;
    margin-top: -22px;
  }

  .fixedHeaderContainer {
    display: flex;
  }

  .post {
    margin-top: 50px;
  }
}

.nav-footer {
  background-color: #ecf0f1;
  display: grid;
  grid-template-columns: [copyright] 1fr [sitemap] 1fr;
}

.nav-footer .copyright {
  align-self: center;
}

.nav-footer .sitemap {
  margin: 0;
}

.nav-footer .sitemap h5 {
  color: #95a5a6;
}

.docsNavContainer {
  box-shadow: 2px 2px 6px -5px #3f3b3b;
  padding: 10px;
}

.xyoContainer {
  font-family: 'Spartan', sans-serif;
  background-color: #232756;
  color: black;
}

.mainContainer {
  padding: 0;
}

.button {
  min-width: 230px;
  margin-right: 25px;
}

.docMainWrapper.wrapper {
  padding-top: 20px;
}

.heroDescription {
  color: #9191d2;
}

.card {
  position: relative;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}

.card-text {
  word-wrap: normal;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.smallest {
  font-size: 16px;
}

.btn.btn-square {
  border-radius: 0;
}

.img-fluid {
  max-width: 70px;
  height: 50px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.cardTitle {
  font-size: 24px;
}

.smaller {
  font-size: 18px;
}
