/* your custom css */
@import url('https://fonts.googleapis.com/css?family=Lato:900&display=swap');

@-ms-viewport{
  width: device-width;
}

body {
  font-family: 'Lato', sans-serif;
  color: black;
}

h1 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
}

div.blockImage {
  height: 90px;
  width: 90px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

div {
  display: block;
  color: rgb(0, 3, 5);
}

a {
  text-decoration: none;
  color: rgb(0, 3, 5);
}

a.docs-prev.button:hover,
a.docs-next.button:hover {
  color: #95a5a6;
}

.navListItem a.navItem:hover {
  color: #2C3E50;
}

.fixedHeaderContainer {
  background-color: #ecf0f1;
  color: #2C3E50;
  padding: 10px 15px;
}

.fixedHeaderContainer header img {
  height: 30px;
  margin-right: 10px;
}

.navigationSlider .slidingNav ul li a {
  color: #95a5a6;
}

.navigationSlider .slidingNav ul li.siteNavItemActive a {
  color: #95a5a6;
}

.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  color: #95a5a6;
}

.navigationSlider .slidingNav ul li a:hover {
  color: #2C3E50;
}

.nav-footer {
  background-color: #ecf0f1;
  display: grid;
  grid-template-columns: [copyright] 1fr [sitemap] 1fr;
}

.nav-footer .copyright {
  align-self: center;
}

.nav-footer .sitemap {
  margin: 0px;
}

.nav-footer .sitemap a{
  color: #95a5a6;
}

.nav-footer .sitemap a:hover{
  color: #2C3E50;
}
.nav-footer .sitemap h5{
  color: #95a5a6;
}

.docsNavContainer {
  box-shadow: 2px 2px 6px -5px #3f3b3b;
  padding: 10px;
}

.xyoContainer {
  font-family: 'Lato', sans-serif;
  background-color: #232756;
  color: black;
}

.xyoContainer a {
  color: black;
}

.xyoContainer a:hover {
  color: #95a5a6;
}

.mainContainer {
  padding: 0px;
}

.button{
  min-width: 230px;
  margin-right: 25px;
}

.docMainWrapper.wrapper {
  padding-top: 20px;
}

.heroDescription {
  color: #9191d2;
}

.card {
  position: relative;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-text {
  word-wrap: normal;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important
}

.smallest {
  font-size: 16px;
}

.btn.btn-square {
  border-radius: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

.img-fluid {
  max-width: 70px;
  height: 50px;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.cardTitle {
  font-size: 24px;
}

.card {
  border-radius: 0;
}

.smaller {
  font-size: 18px;
}

.logos a{
  padding: 2rem;
  color: rgb(0, 3, 5);
}
